body {
  font-family: sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button,
.button {
  box-sizing: content-box;
  display: inline-block;
  min-width: 50%;
  border-radius: 0;
  border: 0;
  font-size: 50px;
  padding: 10px;
  color: white;
  background: #2196f3;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
}

.match-finder__timer {
  font-size: 75px;
  position: absolute;
  top: 10%;
}

.match-finder__timer.hidden ~ .match-finder__average-label {
  display: none;
}

.match-finder__average-label {
  font-size: 20px;
  position: absolute;
  top: 25%;
}

.match-finder__average {
  font-size: 30px;
  position: absolute;
  top: 30%;
}

.game__preparation {
  font-size: 50px;
}

.game__button:not(.hidden) ~ .game__preparation {
  display: none;
}

.results__label {
  font-size: 50px;
  position: absolute;
  top: 10%;
}

.results {
  font-size: 50px;
  position: absolute;
  top: 20%;
}
